In [1]:
import pandas as pd
import numpy as np
import requests

In [59]:
products = {'Продукт': ['Картошка', 'Морковь', 'Яблоко'], 'Категория': ['Овощ', 'Овощ', 'Фрукт']}
prices = {'Продукт': ['Картошка', 'Морковь', 'Яблоко'], 'Цена': [50 ,60 ,120]}

df_prod = pd.DataFrame(products)
df_price = pd.DataFrame(prices)

In [60]:
df_prod.merge(df_price, on='Продукт')

    Продукт Категория  Цена
0  Картошка      Овощ    50
1   Морковь      Овощ    60
2    Яблоко     Фрукт   120

In [61]:
rnd_numb = pd.Series(np.random.randn(6), index=['a','b','c','d','e','f'])
rnd_numb

a   -0.032944
b   -1.693443
c    1.291392
d   -0.328807
e   -0.235432
f   -1.500572
dtype: float64

In [6]:
salary = lambda x: [x['salary']['from'], x['salary']['to'], x['salary']['currency'], x['salary']['gross']] if x['salary'] is not None else [None] * 4
snippet = lambda x: [x['snippet']['responsibility'], x['snippet']['requirement']] if ['snippet'] is not None else [None] * 2
schedule = lambda x: [x['schedule']['id'], x['schedule']['name']] if ['schedule'] is not None else [None] * 2

vac_python = [] # РазработчикANDPython
vac_cpp = [] # РазработчикANDC++
vac_go = [] # РазработчикANDGo
vac_main =[]

vac_per_page = 1

iterations = 1

url_main = 'https://api.hh.ru/vacancies?&search_field=name&text={}&per_page={}&area=1&area=2&page={}'

for i in range(iterations):
    
    url1 = url_main.format('РазработчикANDPython', str(vac_per_page), str(i))
    
    url2 = url_main.format('РазработчикANDC++', str(vac_per_page), str(i))
    
    url3 = url_main.format('РазработчикANDGo', str(vac_per_page), str(i))
    
    vac_main += [[x['id'], x['name'], x['area']['name']] + salary(x) + snippet(x) + schedule(x) for x in
            requests.get(url1).json()['items']]
    
    vac_main += [[x['id'], x['name'], x['area']['name']] + salary(x) + snippet(x) + schedule(x) for x in
            requests.get(url2).json()['items']]
    
    vac_main += [[x['id'], x['name'], x['area']['name']] + salary(x) + snippet(x) + schedule(x) for x in
            requests.get(url3).json()['items']]

In [7]:
# df_python = pd.DataFrame(vac1, columns=['vac_id','vac_name','vac_area','salary_from','salary_to','salary_currency','salary_gross','snippet_responsibility','snippet_requirment', 'schedule_id','schedule_name'])
# df_cpp = pd.DataFrame(vac2, columns=['vac_id','vac_name','vac_area','salary_from','salary_to','salary_currency','salary_gross','snippet_responsibility','snippet_requirment', 'schedule_id','schedule_name'])
# df_go = pd.DataFrame(vac3, columns=['vac_id','vac_name','vac_area','salary_from','salary_to','salary_currency','salary_gross','snippet_responsibility','snippet_requirment', 'schedule_id','schedule_name'])

df_main = pd.DataFrame(vac_main, columns=['vac_id','vac_name','vac_area','salary_from','salary_to','salary_currency','salary_gross','snippet_responsibility','snippet_requirment', 'schedule_id','schedule_name'])

In [8]:
df_main.head()

,vac_id,vac_name,vac_area,salary_from,salary_to,salary_currency,salary_gross,snippet_responsibility,snippet_requirment,schedule_id,schedule_name
0,89805252,Младший разработчик Python (стажер),Москва,35000.0,70000,RUR,True,Участвовать в разработке и поддержке внутренни...,"Знаешь <highlighttext>Python</highlighttext>, ...",fullDay,Полный день
1,88740206,Программист 1C ERP (работа в офисе),Москва,NaN,250000,RUR,False,Участие в проекте разработки и внедрения 1С:ER...,"...совместной работы в команде, прямое взаимод...",fullDay,Полный день
2,89800522,Junior BackEnd Developer (GO),Москва,NaN,180000,RUR,False,В команде: 9 веб-<highlighttext>разработчиков<...,Диплом о высшем или средне специальном образов...,fullDay,Полный день