In [1]:
import pandas as pd
import numpy as np

In [2]:
# Formatting phone number
def format_phone(row):
    if len(str(row['phone'])) < 10:
        row['phone'] = np.nan
    else:
        row['phone'] = str(row['phone'])
        row['phone'] = '7'+''.join(filter(str.isdigit,row['phone']))[1:]
    return row


# To mark what was already done
def mark_done(row):    
    seen_what_is_done = False
    if row['phone'] == '79631854249':
        seen_what_is_done = True
    if seen_what_is_done:
        pass
    else:
        row['mark'] = 1
    return row


# Formatting tg
def format_tg(row):
    row['tg'] = str(row['tg'])
    if row['tg'][0] == '@':
        row['tg'] = row['tg'][1:]
    elif row['tg'][0] == 'h':
        row['tg'] = row['tg'][13:]
    return row


# Creates a new column and fills it with messages
def fill_message(row):
    row['message'] = message
    return row

In [3]:
# Reading data, renaming the columns
df = pd.read_excel('data.xlsx')\
.rename(columns={'Unnamed: 0':'date', 
                 'Unnamed: 1':'name', 
                 'Unnamed: 2':'phone', 
                 'Unnamed: 3':'idx',
                 'Unnamed: 4':'tg'})

df['mark'] = 0

df.head()

,date,name,phone,idx,tg,mark
0,NaN,NaN,NaN,NaN,NaN,0
1,Дата подачи заявки,"Фамилия, имя",Телефон,NaN,Телеграм,0
2,2023-03-09 17:42:32,Абдуллина Василя Ринатовна,8(964) 559-76-12,1.0,https://t.me/AVBaselius,0
3,2023-03-21 00:00:00,Андрианова Анастасия Алексеевна,8(985) 470-69-73,2.0,https://t.me/driana_fbm,0
4,2023-03-20 00:00:00,Антонова Мария Михайловна,8(920) 681-89-18,3.0,https://t.me/Antiemy,0

In [4]:
# Formatting to have only name and number
df_formatted = df.drop([0,1], axis=0)\
.drop(['date','idx'], axis=1)\
.drop_duplicates()\
.apply(format_phone, axis=1)\
.apply(format_tg, axis=1)\
.drop('tg', axis=1)\
.dropna()\
.reset_index()\
.drop('index', axis=1)

df_formatted.head()

                              name        phone  mark
0       Абдуллина Василя Ринатовна  79645597612     0
1  Андрианова Анастасия Алексеевна  79854706973     0
2        Антонова Мария Михайловна  79206818918     0
3          Баёв Артур Владимирович  79850532964     0
4      Бакуров Артём Александрович  79161699712     0

In [5]:
# Message to fill with
message = ('Здравствуйте!'
           'В 2023 году Вы участвовали в кейс-чемпионате Генериум.'
           'В этом году, мы уже начали сбор заявок и будем очень рады Вашему участию, пожалуйста, переходите по ссылке и регистрируйтесь: https://generium-champ.ru (https://generium-champ.ru/).'
           'От лица организационного комитета искренне желаем Вам удачи и конечно победы!')

# Filling with messages
df_filled_with_messages = df_formatted.drop_duplicates().apply(fill_message, axis=1)

df_filled_with_messages.head()

,name,phone,mark,message
0,Абдуллина Василя Ринатовна,79645597612,0,Здравствуйте!В 2023 году Вы участвовали в кейс...
1,Андрианова Анастасия Алексеевна,79854706973,0,Здравствуйте!В 2023 году Вы участвовали в кейс...
2,Антонова Мария Михайловна,79206818918,0,Здравствуйте!В 2023 году Вы участвовали в кейс...
3,Баёв Артур Владимирович,79850532964,0,Здравствуйте!В 2023 году Вы участвовали в кейс...
4,Бакуров Артём Александрович,79161699712,0,Здравствуйте!В 2023 году Вы участвовали в кейс...

In [14]:
# Mark what is already done with 1
flag = False
trigger = '79218479121'
counter = 0

target = df_filled_with_messages

for idx in target.index:
    if flag:
        break
    if target.loc[idx, 'phone'] == trigger:
        flag = True
    target.loc[idx, 'mark'] = 1
    counter += 1
print(f'{counter} lines marked.')
    
target.head()

315 lines marked.

,name,phone,mark,message
0,Абдуллина Василя Ринатовна,79645597612,1,Здравствуйте!В 2023 году Вы участвовали в кейс...
1,Андрианова Анастасия Алексеевна,79854706973,1,Здравствуйте!В 2023 году Вы участвовали в кейс...
2,Антонова Мария Михайловна,79206818918,1,Здравствуйте!В 2023 году Вы участвовали в кейс...
3,Баёв Артур Владимирович,79850532964,1,Здравствуйте!В 2023 году Вы участвовали в кейс...
4,Бакуров Артём Александрович,79161699712,1,Здравствуйте!В 2023 году Вы участвовали в кейс...

In [15]:
target.to_csv('prepared_data.csv', index=False)